<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- bean definitions here -->
	<bean id="userDaoImpl" class="com.dodo.dao.UserDaoImpl"/>
	<bean id="mySQL" class="com.dodo.dao.UserDaoMySQLImpl"/>
	<bean id="oracle" class="com.dodo.dao.UserDaoOracleImpl"/>
	
	<bean id="userServiceImpl" class="com.dodo.service.UserServiceImpl">
		<property name="userDao" ref="mySQL"/>
	</bean>
	
	<!--
		ref:引用Spring容器中创建好的对象
		value：具体的值，基本数据类型
	-->
	

</beans>